@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './theme.less'; // variables to override above

.app {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    transition: width 400ms;
}

.app-sidebar {
    padding: 1rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: width 400ms;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.section-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 0.25rem;
}

.group-title {
    color: rgba(0, 0, 0, 0.45);
}

.bottom-aligned {
    margin-top: auto;
}