@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './theme.less'; // variables to override above

.app {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.app-sidebar {
    padding: 1rem;
    width: 350px;
}