@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
@import './theme.less'; // variables to override above

.ant-drawer-body,
.VScroll {
    overflow-y: auto;
}

.ant-drawer-body::-webkit-scrollbar,
.VScroll::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
    cursor: pointer;
}

.ant-drawer-body::-webkit-scrollbar-thumb,
.VScroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    cursor: pointer;
}

.HScroll {
    overflow-x: auto;
}

.HScroll::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
    cursor: pointer;
}

.HScroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    cursor: pointer;
}

.app {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    transition: width 400ms;
}

.app-sidebar {
    padding: 1rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: width 400ms;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

.section-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block: 0.25rem;
}

.group-title {
    color: rgba(0, 0, 0, 0.45);
}

.bottom-aligned {
    margin-top: auto;
}

.store-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.route-enter {
    position: absolute;
    left: -100vw;
}

.route-enter-active {
    left: 0;
    transition: left 200ms;
}

.route-exit {
    position: absolute;
    right: 0;
}

.route-exit-active {
    right: -100vw;
    transition: right 200ms;
}

.title-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: width 400ms;

    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/29-1920x1080-27fbb87a5bce0dc61082424320ad4111.jpg?resize=1&w=1920);
    background-size: cover;
    background-position: top;
    user-select: none;
    -webkit-user-drag: none;
}

.title {
    margin-top: 5rem;

    .tg {
        font-family: 'Oswald';
        font-size: 400;
        font-size: 4rem;
    }
}

.title-bottom {
    position: absolute;
    right: 1rem;
    bottom: 0;

    .tg-bottom {
        font-family: 'Oswald';
        font-size: 400;
        font-size: 1.75rem;
    }
}

.title-start {
    position: absolute;
    bottom: 5rem;
    left: auto;
    right: auto;

    button {
        height: 4rem;
        width: 10rem;
        border-radius: 1rem;

        font-family: 'Oswald';
        font-size: 400;
        font-size: 1.75rem;
    }
}

.start-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: width 400ms;

    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/29-1920x1080-27fbb87a5bce0dc61082424320ad4111.jpg?resize=1&w=1920);
    background-size: cover;
    background-position: top;
    user-select: none;
    -webkit-user-drag: none;
}

.start-center {
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: -5rem;

    background-color: white;
    user-select: none;
    -webkit-user-drag: none;
}

.start-background {
    flex-grow: 1;
    background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/29-1920x1080-27fbb87a5bce0dc61082424320ad4111.jpg?resize=1&w=1920);
    background-size: cover;
    background-position: top;
    user-select: none;
    -webkit-user-drag: none;
}

.trade-root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.trade-game-root {
    flex-grow: 1;
}

.trade-player-root {
    flex-grow: 1;
}