.center {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-color: #fef2d3;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Lora', serif;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .title-2, .title-12 {
        font-size: 0.75rem;
    }

    .title-3, .title-11 {
        font-size: 0.875rem;
    }

    .title-4, .title-10 {
        font-size: 1rem;
    }

    .title-5, .title-8 {
        font-size: 1.1rem;
    }

    .title-6, .title-8 {
        font-size: 1.25rem;
        color: #fe3b3b;
    }

    .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.picture {
    position: absolute;
    height: 100%;
    width: 100%;
}